<!doctype html>

<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
	
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <script type="text/javascript">
	
        $(document).ready(function() {
            $('#comment-form').submit(function(event){
                event.preventDefault();
                $.post({
                    url: $('#comment-form').attr('action'),
                    data: $('#comment-form').serialize(),
                    success: function(data){
                        var res = '<li class="list-group-item">' + data + '</li>';
                        $('#comments').append(res);
                        $('#comment').val('');
                    }
                });
            });
        });
		
    </script>

    <title>BlogSite</title>
	
	{% load static %}
	

</head>

<body>

	<div class="container">

        <nav class="navbar navbar-light bg-light">

            <a class="navbar-brand" href="#">
                				
				<img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""/>

				Foydali maslahatlar

            </a>

            <form class="form-inline">

                <input class="form-control mr-sm-2" type="search" placeholder="Izlash" aria-label="Izlash">

                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Izlash</button>

            </form>

        </nav>


        <div class="pos-f-t">

            <div class="collapse" id="navbarToggleExternalContent">

                <div class="bg-dark p-4">

                    <h5 class="text-white h4">Menu turadi</h5>

                </div>

            </div>

            <nav class="navbar navbar-dark bg-dark">

                <button class="navbar-toggler" type="button" data-toggle="collapse"
				
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

                </button>

            </nav>

        </div>

        <div class="row">

            <div class="col-xl-12">

                <h2>Oshxonada asqotadigan foydali maslahatlar</h2>

                <h5>Maqolada uy bekalari uchun oshxonada qo‘l kelishi mumkin bo‘lgan tavsiyalar bilan o‘rtoqlashamiz.</h5>

                <img src="{% static 'img/kuche.jpg' %}" class="img-fluid" alt="Responsive image">

                <h5>
				
                    Tuxumning oqini uning ikki tomonidan igna bilan teshib ajratib olsa bo‘ladi. Tuxumning sarig‘i esa uning
                    ichida qoladi.
                    Po‘sti bilan qaynatilgan kartoshka yorilmasin desangiz, uni bir-ikki joyidan teshing.
                    Qovurilgan kartoshkaning ta’mini yaxshilash uchun unga 1 choy qoshiq xantal qo‘shing.
                    Parranda go‘shtini qovurishda tayyor bo‘lishidan biroz oldin tuzli suv sepsangiz yanada mazali bo‘ladi.
                    Muzlatilgan baliqni tezroq eritmoqchi bo‘lsangiz, plastik paketdagi iliq suvga solib qo‘ying.
                    To‘yimliligi va ta’mini saqlab qolish uchun loviya qaynab chiqqanidan keyin suvini to‘kib yana boshqa
                    suv va
                    o‘simlik yog‘i solib qaynating.
                    Baliq bo‘laklari yoyilib ketmasligi uchun qovurishdan oldin tuz seping, unga yaxshilab belab oling va
                    qizigan yog‘ga soling.
                    Archilgan olmalar qoraymasin desangiz, ularni tuzli sovuq suvga solib qo‘ying.
                    Ko‘pchigan xamir yanada oshib ketmasligi uchun qog‘ozni ho‘llab silkitib tashlang va xamirni o‘rab
                    qo‘ying.
                    Qayladagi qaymoq yumaloqlanib qolmasin desangiz, ishlatishdan oldin uni ozroq sut solib suyultiring.
                    Oldindan sovitilgan tuxum oqi yaxshi ko‘piradi. Sarig‘ini esa ishlatishdan oldin sal isitib oling.
                    Limon kislotasi guruchni oppoq va dona-dona qiladi.
                    Xamirning ichidagi mayizlar bir tekisda joylashishi uchun, ishlatishdan oldin uni issiq suvda yuving va
                    un
                    seping.
                    Mankani tayyorlashdan oldin bir necha marta yuvsangiz pishirishda yumaloq bo‘lib qolmaydi.
                    Baliqning tangachalarini suv tagida tozalash osonroq.
                    Yaxshi pishmaydigan go‘shtni sho‘r suv, kvas, sirka yoqi qatiq solib ivitib qo‘ysangiz yumshoq bo‘lib
                    pishadi.
                    Qovurishdan oldin xom go‘shtga o‘simlik yog‘i surib qo‘ysangiz chiroyli bo‘lib pishadi.
					
                </h5>

                <img src="{% static 'img/salate.jpg' %}"  class="img-fluid" alt="Responsive image" style="width: 100%">

                <hr/>



                <h4>Izohlar:</h4>

                <ul id="comments" class="list-group list-group-flush"></ul>
                

                <form action="/comment" method="POST" id="comment-form">

                <div class="form-group">

                    <label>Maqolaga izoh qoldiring</label>

                    <input id="comment" name="comment" class="form-control" type="text">

                </div>


                <div class="form-group">

                    <button id="submit" class="btn btn-outline-success btn-lg" type="submit">Jo'natish</button>

                </div>
				
                </form>

        </div>

    </div>
	
</div>


</body>

</html>